@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,700,italic&display=swap);

@charset "UTF-8";

@font-face {
  font-family: impact;
  font-display: swap;
  src: url("../fonts/impact.woff2") format("woff2"), url("../fonts/impact.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #040404;
  line-height: 1;
  font-family: "Roboto Condensed";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto Condensed";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.icon-menu {
  display: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

._watcher-view .title {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.text {
  line-height: 1.2;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._watcher-view .text {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d4ca), to(rgba(217, 217, 217, 0)));
  background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
}

.header._header-show {
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  padding-top: 0.625rem;
}

.header__container-big {
  max-width: 76.25rem;
}

.menu__logo {
  position: relative;
  z-index: 50;
}

.menu__logo img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu__link {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.menu__link::after {
  content: "";
  position: absolute;
  top: 0.875rem;
  left: 0;
  background-color: #9f6b08;
  height: 0.1875rem;
  width: 0%;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.footer {
  background-color: #363636;
  color: #fff;
}

.footer__info-item {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.footer__info-item dt {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.footer__info-item dd:not(:last-child) {
  margin-bottom: 0.625rem;
}

._watcher-view .footer__info-item {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__address {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.footer__address iframe {
  width: 100%;
  height: 15.625rem;
}

._watcher-view .footer__address {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.footer__address-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.footer__address-text {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  font-style: normal;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer__logo img {
  max-width: 100%;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html.menu-open main,
html.menu-open footer {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: blur(2px) brightness(50%);
          filter: blur(2px) brightness(50%);
}

.no-webp .promo{
  background: url("../img/promo.jpg") left/cover no-repeat; }

.promo__inner {
  padding-top: 6.25rem;
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__title {
  font-family: "Impact";
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 0.625rem;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.promo__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

._watcher-view .promo__title {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.promo__subtitle {
  font-family: "Impact";
  border-bottom: 0.0625rem solid #040404;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.promo__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}

._watcher-view .promo__subtitle {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.promo__subtitle span {
  display: block;
  line-height: 0.99;
  color: #9f6b08;
  padding: 0.625rem 0rem;
}

.promo__text {
  font-size: 1rem;
  color: #363636;
  margin-bottom: 0.625rem;
  text-shadow: 2px 2px 2px #d9d9d9;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

._watcher-view .promo__text {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 1.875rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.info__part--first {
  display: block;
}

.info__part--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__part--third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__title {
  margin-bottom: 1.875rem;
}

.info__part-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.info__text {
  margin-bottom: 1.875rem;
}

.info__part-image {
  margin: 0 auto;
}

.info__part-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._watcher-view .info__part-image img {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.info__table {
  border-bottom: 0.0625rem solid #040404;
  position: relative;
  top: 1.25rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.info__table::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1.25rem;
  border-top: 0.0625rem solid #040404;
}

.info__table td {
  padding-bottom: 1.25rem;
}

._watcher-view .info__table {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.no-webp .track{
  background: url("../img/track-bg.jpg") center/cover no-repeat; }

.track__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.track__title {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.track__text {
  max-width: 27.1875rem;
}

.track__image {
  margin-top: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.track__image img {
  max-width: 100%;
}

.evo-black {
  background-color: #363636;
  color: #fff;
}

.evo-black__inner {
  position: relative;
}

.no-webp .evo-black__inner::before{
  background: url("../img/dec01.png") center/cover no-repeat; }

.evo-black__inner::before {
  content: "";
  position: absolute;
  top: 28%;
  left: -15%;
}

.no-webp .evo-black__inner::after{
  background: url("../img/dec02.png") center/cover no-repeat; }

.evo-black__inner::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -4%;
}

.evo-black__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.evo-black__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.evo-black__image {
  max-width: 45.3125rem;
  position: relative;
  z-index: 1;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 2.5s ease 0s;
  transition: all 2.5s ease 0s;
}

._watcher-view .evo-black__image {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.no-webp ._watcher-view .evo-black__image::before{
  background: url("../img/wheel.png") center/cover no-repeat; }

._watcher-view .evo-black__image::before {
  content: "";
  position: absolute;
  top: 41%;
  left: 11%;
  width: 6.25rem;
  height: 6.25rem;
  z-index: 5;
  -webkit-animation: rotate 0.5s linear 3;
          animation: rotate 0.5s linear 3;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.no-webp ._watcher-view .evo-black__image::after{
  background: url("../img/wheel.png") center/cover no-repeat; }

._watcher-view .evo-black__image::after {
  content: "";
  position: absolute;
  top: 41%;
  left: 68%;
  width: 6.25rem;
  height: 6.25rem;
  z-index: 5;
  -webkit-animation: rotate 0.5s linear 2;
          animation: rotate 0.5s linear 2;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.evo-black__image img {
  display: block;
  max-width: 100%;
}

.evo-black__descr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.evo-black__descr-list dd {
  text-transform: uppercase;
}

#descr1 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

._watcher-view #descr1 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#descr2 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.5s ease 1.5s;
  transition: all 0.5s ease 1.5s;
}

._watcher-view #descr2 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#descr3 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.5s ease 2s;
  transition: all 0.5s ease 2s;
}

._watcher-view #descr3 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#descr4 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.5s ease 2.5s;
  transition: all 0.5s ease 2.5s;
}

._watcher-view #descr4 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#descr5 {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.5s ease 3s;
  transition: all 0.5s ease 3s;
}

._watcher-view #descr5 {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.evo-white__inner {
  position: relative;
}

.evo-white__inner :first-child {
  max-width: 17.8125rem;
}

.evo-white__inner :nth-child(2) {
  max-width: 27.3125rem;
}

.evo-white__inner :nth-child(3) {
  max-width: 36.875rem;
}

.no-webp .evo-white__inner::before{
  background: url("../img/dec03.png") center/cover no-repeat; }

.evo-white__inner::before {
  content: "";
  position: absolute;
}

.no-webp .evo-white__inner::after{
  background: url("../img/dec04.png") center/cover no-repeat; }

.evo-white__inner::after {
  content: "";
  position: absolute;
  right: 0;
}

.evo-white__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.no-webp .evo-white__video{
  background: url("../img/evo-video.png") center/cover no-repeat; }

.evo-white__video {
  height: 16.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._watcher-view .evo-white__video {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.evo-white__video-link {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.evo-white__video-link img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.evo-white__video-link span {
  display: block;
  color: #fff;
}

.blog__title {
  margin-bottom: 1.875rem;
}

.blog__slider {
  position: relative;
  padding-top: 3.125rem;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._watcher-view .blog__slider {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.blog__item-img {
  margin-bottom: 1.25rem;
}

.blog__item-img img {
  max-width: 100%;
}

.blog__item-title {
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  min-height: 2.875rem;
}

.blog__item-text {
  margin-bottom: 0.625rem;
}

.blog__item-link {
  font-size: 0.75rem;
  color: #363636;
}

.blog__button {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 50%;
}

.swiper-button-prev {
  -webkit-transform: translateX(-2.5625rem);
      -ms-transform: translateX(-2.5625rem);
          transform: translateX(-2.5625rem);
}

.swiper-button-next {
  -webkit-transform: translateX(0.5rem);
      -ms-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.blog__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.blog__quote-box {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

._watcher-view .blog__quote-box {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.blog__quote-blockquote:not(:last-child) {
  margin-bottom: 1.875rem;
}

.blog__quote-image {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.blog__quote-image img {
  max-width: 100%;
}

._watcher-view .blog__quote-image {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.blockquote__name {
  font-style: normal;
  font-weight: 700;
}

.blockquote__name span {
  display: block;
  color: #9f6b08;
  font-size: 12;
  margin-bottom: 0.1875rem;
}

.blockquote__text {
  margin-top: 0.625rem;
  font-style: italic;
  font-weight: 400;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 25.625rem;
        flex-basis: 25.625rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__address {
    -ms-flex-preferred-size: 28.875rem;
        flex-basis: 28.875rem;
  }

  .info__part--second .info__text {
    max-width: 22rem;
  }

  .info__part--third .info__text {
    max-width: 23.5625rem;
  }

  .info__text {
    -ms-flex-preferred-size: 27.5rem;
        flex-basis: 27.5rem;
  }

  .info__content {
    -ms-flex-preferred-size: 25.9375rem;
        flex-basis: 25.9375rem;
  }

  .info__table {
    -ms-flex-preferred-size: 28.125rem;
        flex-basis: 28.125rem;
  }

  .evo-black__infobox {
    -ms-flex-preferred-size: 27.3125rem;
        flex-basis: 27.3125rem;
  }

  .blog__quote-box {
    -ms-flex-preferred-size: 27.125rem;
        flex-basis: 27.125rem;
  }
}

@media (min-width: 57.5em) {
  .evo-white__inner::before {
    right: 16.875rem;
  }

  .evo-white__inner::after {
    top: 8.125rem;
  }
}

@media (min-width: 58.75em) {
  .title {
    font-size: 2rem;
  }

  .header {
    padding-top: 1.5625rem;
  }

  .menu__logo {
    -ms-flex-preferred-size: 5.1875rem;
        flex-basis: 5.1875rem;
  }

  .footer {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 5rem;
  }

  .footer__title {
    margin-bottom: 3.125rem;
  }

  .footer__info-item:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .footer__bottom {
    margin-top: 5.375rem;
  }

  .promo__title {
    font-size: 4.75rem;
  }

  .promo__subtitle {
    font-size: 3rem;
  }

  .promo__subtitle span {
    font-size: 2.125rem;
  }

  .info {
    margin-bottom: 6.25rem;
  }

  .info__part--first {
    padding-top: 6.25rem;
  }

  .info__part--second {
    padding-top: 6.25rem;
  }

  .info__part--third {
    padding-top: 4.125rem;
  }

  .track__image {
    margin-bottom: 5.625rem;
  }

  .evo {
    margin-bottom: 6.25rem;
  }

  .evo-black {
    padding-top: 6.25rem;
  }

  .evo-black {
    padding-bottom: 3.125rem;
  }

  .evo-black__inner::before {
    width: 11.5625rem;
  }

  .evo-black__inner::before {
    height: 13.3125rem;
  }

  .evo-black__inner::after {
    width: 31.125rem;
  }

  .evo-black__inner::after {
    height: 35.75rem;
  }

  .evo-black__title {
    padding-right: 3.125rem;
  }

  .evo-black__image {
    margin-top: 12.5rem;
  }

  .evo-black__image {
    margin-bottom: 3.75rem;
  }

  .evo-white__inner {
    padding-top: 7.8125rem;
  }

  .evo-white__inner::before {
    width: 17.125rem;
  }

  .evo-white__inner::before {
    height: 16.0625rem;
  }

  .evo-white__inner::before {
    top: -1.875rem;
  }

  .evo-white__inner::after {
    width: 20.25rem;
  }

  .evo-white__inner::after {
    height: 19.4375rem;
  }

  .evo-white__video {
    margin-top: 6.25rem;
  }

  .blog {
    margin-bottom: 6.25rem;
  }

  .blog__slider {
    margin-bottom: 6.25rem;
  }

  .blog__item-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .menu__logo {
    -ms-flex-preferred-size: 2.8125rem;
        flex-basis: 2.8125rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__title {
    margin-bottom: 1.25rem;
  }

  .footer__info-item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .footer__bottom {
    margin-top: 1.25rem;
  }

  .promo__title {
    font-size: 2.25rem;
  }

  .promo__subtitle {
    font-size: 1.75rem;
  }

  .promo__subtitle span {
    font-size: 1.5rem;
  }

  .info {
    margin-bottom: 1.25rem;
  }

  .info__part--first {
    padding-top: 1.25rem;
  }

  .info__part--second {
    padding-top: 1.25rem;
  }

  .info__part--third {
    padding-top: 1.25rem;
  }

  .track__image {
    margin-bottom: 1.25rem;
  }

  .evo {
    margin-bottom: 1.25rem;
  }

  .evo-black {
    padding-top: 1.25rem;
  }

  .evo-black {
    padding-bottom: 1.25rem;
  }

  .evo-black__inner::before {
    width: 3.4375rem;
  }

  .evo-black__inner::before {
    height: 3.75rem;
  }

  .evo-black__inner::after {
    width: 11.5625rem;
  }

  .evo-black__inner::after {
    height: 13.75rem;
  }

  .evo-black__title {
    padding-right: 1.25rem;
  }

  .evo-black__image {
    margin-top: 4.375rem;
  }

  .evo-black__image {
    margin-bottom: 1.25rem;
  }

  .evo-white__inner {
    padding-top: 3.125rem;
  }

  .evo-white__inner::before {
    width: 5.6875rem;
  }

  .evo-white__inner::before {
    height: 5.3125rem;
  }

  .evo-white__inner::before {
    top: 6.25rem;
  }

  .evo-white__inner::after {
    width: 6.75rem;
  }

  .evo-white__inner::after {
    height: 6.4375rem;
  }

  .evo-white__video {
    margin-top: 1.25rem;
  }

  .blog {
    margin-bottom: 1.25rem;
  }

  .blog__slider {
    margin-bottom: 1.25rem;
  }

  .blog__item-title {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) {
  .promo__inner {
    min-height: 80vh;
  }

  .track__inner {
    min-height: 90vh;
  }
}

@media (max-width: 47.99875em) {
  .no-webp .menu__body{
    background: url("../img/info-1.jpg") center/cover no-repeat; }
  .menu__body {
    position: fixed;
    width: 70%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1.25rem;
    text-align: center;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    row-gap: 1.25rem;
    font-size: 1.25rem;
    border-radius: 1.25rem 0rem 0rem 1.25rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: 0;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    row-gap: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0.625rem;
  }

  .menu__link {
    color: #fff;
    font-size: 1.25rem;
    text-shadow: 2px 3px 3px #000;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .promo__inner {
    min-height: 60vh;
  }

  .info__part--second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__part--third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info__part-textbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .track__inner {
    min-height: 80vh;
  }

  .evo-black__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  ._watcher-view .evo-black__image::before {
    left: 11.5%;
    top: 42%;
  }

  ._watcher-view .evo-black__image::after {
    left: 68.5%;
    top: 42%;
  }

  .evo-white__inner :nth-child(2) {
    max-width: 23.75rem;
  }

  .blog__quote {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  ._watcher-view .evo-black__image::before {
    width: 2.5rem;
  }

  ._watcher-view .evo-black__image::before {
    height: 2.5rem;
  }

  ._watcher-view .evo-black__image::after {
    width: 2.5rem;
  }

  ._watcher-view .evo-black__image::after {
    height: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .evo-white__inner :nth-child(2) {
    max-width: 18.75rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .promo__inner {
    min-height: 50vh;
  }

  .track__inner {
    min-height: 70vh;
  }

  .evo-black__inner::before {
    top: 40%;
    left: -10%;
  }

  .evo-black__inner::after {
    top: 50%;
  }

  .evo-white__inner :first-child {
    max-width: 12.5rem;
  }

  .evo-white__inner :nth-child(2) {
    max-width: 12.5rem;
  }

  .evo-white__inner::before {
    right: 0.0000000625rem;
  }

  .evo-white__inner::after {
    top: 13.75rem;
  }

  .evo-white__inner::after {
    top: 16.875rem;
  }

  .blog__button {
    left: 0;
  }

  .swiper-button-prev {
    -webkit-transform: translateX(0rem);
        -ms-transform: translateX(0rem);
            transform: translateX(0rem);
  }

  .swiper-button-next {
    position: absolute;
    left: 88%;
  }
}

@media (min-width: 20em) and (max-width: 58.75em) {
@supports (font-size: clamp( 1.5rem , 1.2419354839rem  +  1.2903225806vw , 2rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.2419354839rem  +  1.2903225806vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.2419354839rem  +  1.2903225806vw , 2rem )) {
    .title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.1411290323rem  +  2.4193548387vw , 1.5625rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.1411290323rem  +  2.4193548387vw , 1.5625rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.1411290323rem  +  2.4193548387vw , 1.5625rem )) {
    .header {
      padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 38.75);
    }
}

@supports (flex-basis: clamp( 2.8125rem , 1.5866935484rem  +  6.1290322581vw , 5.1875rem )) {
    .menu__logo {
      -ms-flex-preferred-size: clamp( 2.8125rem , 1.5866935484rem  +  6.1290322581vw , 5.1875rem );
          flex-basis: clamp( 2.8125rem , 1.5866935484rem  +  6.1290322581vw , 5.1875rem );
    }
}

@supports not (flex-basis: clamp( 2.8125rem , 1.5866935484rem  +  6.1290322581vw , 5.1875rem )) {
    .menu__logo {
      -ms-flex-preferred-size: calc(2.8125rem + 2.375 * (100vw - 20rem) / 38.75);
          flex-basis: calc(2.8125rem + 2.375 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .footer {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.685483871rem  +  9.6774193548vw , 5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.685483871rem  +  9.6774193548vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.685483871rem  +  9.6774193548vw , 5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .footer__title {
      margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .footer__title {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .footer__info-item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .footer__info-item:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-top: clamp( 1.25rem , -0.8790322581rem  +  10.6451612903vw , 5.375rem )) {
    .footer__bottom {
      margin-top: clamp( 1.25rem , -0.8790322581rem  +  10.6451612903vw , 5.375rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -0.8790322581rem  +  10.6451612903vw , 5.375rem )) {
    .footer__bottom {
      margin-top: calc(1.25rem + 4.125 * (100vw - 20rem) / 38.75);
    }
}

@supports (font-size: clamp( 2.25rem , 0.9596774194rem  +  6.4516129032vw , 4.75rem )) {
    .promo__title {
      font-size: clamp( 2.25rem , 0.9596774194rem  +  6.4516129032vw , 4.75rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 0.9596774194rem  +  6.4516129032vw , 4.75rem )) {
    .promo__title {
      font-size: calc(2.25rem + 2.5 * (100vw - 20rem) / 38.75);
    }
}

@supports (font-size: clamp( 1.75rem , 1.1048387097rem  +  3.2258064516vw , 3rem )) {
    .promo__subtitle {
      font-size: clamp( 1.75rem , 1.1048387097rem  +  3.2258064516vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.1048387097rem  +  3.2258064516vw , 3rem )) {
    .promo__subtitle {
      font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 38.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1774193548rem  +  1.6129032258vw , 2.125rem )) {
    .promo__subtitle span {
      font-size: clamp( 1.5rem , 1.1774193548rem  +  1.6129032258vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1774193548rem  +  1.6129032258vw , 2.125rem )) {
    .promo__subtitle span {
      font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info {
      margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info__part--first {
      padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info__part--first {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info__part--second {
      padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .info__part--second {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.2338709677rem  +  7.4193548387vw , 4.125rem )) {
    .info__part--third {
      padding-top: clamp( 1.25rem , -0.2338709677rem  +  7.4193548387vw , 4.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.2338709677rem  +  7.4193548387vw , 4.125rem )) {
    .info__part--third {
      padding-top: calc(1.25rem + 2.875 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.0080645161rem  +  11.2903225806vw , 5.625rem )) {
    .track__image {
      margin-bottom: clamp( 1.25rem , -1.0080645161rem  +  11.2903225806vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.0080645161rem  +  11.2903225806vw , 5.625rem )) {
    .track__image {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo {
      margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo-black {
      padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo-black {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .evo-black {
      padding-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .evo-black {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 38.75);
    }
}

@supports (width: clamp( 3.4375rem , -0.7560483871rem  +  20.9677419355vw , 11.5625rem )) {
    .evo-black__inner::before {
      width: clamp( 3.4375rem , -0.7560483871rem  +  20.9677419355vw , 11.5625rem );
    }
}

@supports not (width: clamp( 3.4375rem , -0.7560483871rem  +  20.9677419355vw , 11.5625rem )) {
    .evo-black__inner::before {
      width: calc(3.4375rem + 8.125 * (100vw - 20rem) / 38.75);
    }
}

@supports (height: clamp( 3.75rem , -1.185483871rem  +  24.6774193548vw , 13.3125rem )) {
    .evo-black__inner::before {
      height: clamp( 3.75rem , -1.185483871rem  +  24.6774193548vw , 13.3125rem );
    }
}

@supports not (height: clamp( 3.75rem , -1.185483871rem  +  24.6774193548vw , 13.3125rem )) {
    .evo-black__inner::before {
      height: calc(3.75rem + 9.5625 * (100vw - 20rem) / 38.75);
    }
}

@supports (width: clamp( 11.5625rem , 1.4657258065rem  +  50.4838709677vw , 31.125rem )) {
    .evo-black__inner::after {
      width: clamp( 11.5625rem , 1.4657258065rem  +  50.4838709677vw , 31.125rem );
    }
}

@supports not (width: clamp( 11.5625rem , 1.4657258065rem  +  50.4838709677vw , 31.125rem )) {
    .evo-black__inner::after {
      width: calc(11.5625rem + 19.5625 * (100vw - 20rem) / 38.75);
    }
}

@supports (height: clamp( 13.75rem , 2.3951612903rem  +  56.7741935484vw , 35.75rem )) {
    .evo-black__inner::after {
      height: clamp( 13.75rem , 2.3951612903rem  +  56.7741935484vw , 35.75rem );
    }
}

@supports not (height: clamp( 13.75rem , 2.3951612903rem  +  56.7741935484vw , 35.75rem )) {
    .evo-black__inner::after {
      height: calc(13.75rem + 22 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .evo-black__title {
      padding-right: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.2822580645rem  +  4.8387096774vw , 3.125rem )) {
    .evo-black__title {
      padding-right: calc(1.25rem + 1.875 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-top: clamp( 4.375rem , 0.1814516129rem  +  20.9677419355vw , 12.5rem )) {
    .evo-black__image {
      margin-top: clamp( 4.375rem , 0.1814516129rem  +  20.9677419355vw , 12.5rem );
    }
}

@supports not (margin-top: clamp( 4.375rem , 0.1814516129rem  +  20.9677419355vw , 12.5rem )) {
    .evo-black__image {
      margin-top: calc(4.375rem + 8.125 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0403225806rem  +  6.4516129032vw , 3.75rem )) {
    .evo-black__image {
      margin-bottom: clamp( 1.25rem , -0.0403225806rem  +  6.4516129032vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0403225806rem  +  6.4516129032vw , 3.75rem )) {
    .evo-black__image {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 38.75);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.7056451613rem  +  12.0967741935vw , 7.8125rem )) {
    .evo-white__inner {
      padding-top: clamp( 3.125rem , 0.7056451613rem  +  12.0967741935vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.7056451613rem  +  12.0967741935vw , 7.8125rem )) {
    .evo-white__inner {
      padding-top: calc(3.125rem + 4.6875 * (100vw - 20rem) / 38.75);
    }
}

@supports (width: clamp( 5.6875rem , -0.2157258065rem  +  29.5161290323vw , 17.125rem )) {
    .evo-white__inner::before {
      width: clamp( 5.6875rem , -0.2157258065rem  +  29.5161290323vw , 17.125rem );
    }
}

@supports not (width: clamp( 5.6875rem , -0.2157258065rem  +  29.5161290323vw , 17.125rem )) {
    .evo-white__inner::before {
      width: calc(5.6875rem + 11.4375 * (100vw - 20rem) / 38.75);
    }
}

@supports (height: clamp( 5.3125rem , -0.2358870968rem  +  27.7419354839vw , 16.0625rem )) {
    .evo-white__inner::before {
      height: clamp( 5.3125rem , -0.2358870968rem  +  27.7419354839vw , 16.0625rem );
    }
}

@supports not (height: clamp( 5.3125rem , -0.2358870968rem  +  27.7419354839vw , 16.0625rem )) {
    .evo-white__inner::before {
      height: calc(5.3125rem + 10.75 * (100vw - 20rem) / 38.75);
    }
}

@supports (top: clamp( -1.875rem , 10.4435483871rem  +  -20.9677419355vw , 6.25rem )) {
    .evo-white__inner::before {
      top: clamp( -1.875rem , 10.4435483871rem  +  -20.9677419355vw , 6.25rem );
    }
}

@supports not (top: clamp( -1.875rem , 10.4435483871rem  +  -20.9677419355vw , 6.25rem )) {
    .evo-white__inner::before {
      top: calc(6.25rem + -8.125 * (100vw - 20rem) / 38.75);
    }
}

@supports (width: clamp( 6.75rem , -0.2177419355rem  +  34.8387096774vw , 20.25rem )) {
    .evo-white__inner::after {
      width: clamp( 6.75rem , -0.2177419355rem  +  34.8387096774vw , 20.25rem );
    }
}

@supports not (width: clamp( 6.75rem , -0.2177419355rem  +  34.8387096774vw , 20.25rem )) {
    .evo-white__inner::after {
      width: calc(6.75rem + 13.5 * (100vw - 20rem) / 38.75);
    }
}

@supports (height: clamp( 6.4375rem , -0.2721774194rem  +  33.5483870968vw , 19.4375rem )) {
    .evo-white__inner::after {
      height: clamp( 6.4375rem , -0.2721774194rem  +  33.5483870968vw , 19.4375rem );
    }
}

@supports not (height: clamp( 6.4375rem , -0.2721774194rem  +  33.5483870968vw , 19.4375rem )) {
    .evo-white__inner::after {
      height: calc(6.4375rem + 13 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo-white__video {
      margin-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .evo-white__video {
      margin-top: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .blog {
      margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .blog {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .blog__slider {
      margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3306451613rem  +  12.9032258065vw , 6.25rem )) {
    .blog__slider {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 38.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.25rem )) {
    .blog__item-title {
      font-size: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.25rem )) {
    .blog__item-title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 38.75);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 57.5em) {
@supports (font-size: clamp( 0.875rem , 0.2435205894rem  +  1.3156163663vw , 1rem )) {
    .menu__link {
      font-size: clamp( 0.875rem , 0.2435205894rem  +  1.3156163663vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.2435205894rem  +  1.3156163663vw , 1rem )) {
    .menu__link {
      font-size: calc(0.875rem + 0.125 * (100vw - 47.99875rem) / 9.50125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  ._watcher-view .evo-black__image::before {
    width: 6.25rem;
  }

  ._watcher-view .evo-black__image::before {
    height: 6.25rem;
  }

  ._watcher-view .evo-black__image::after {
    width: 6.25rem;
  }

  ._watcher-view .evo-black__image::after {
    height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
@supports (width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::before {
      width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem );
    }
}

@supports not (width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::before {
      width: calc(2.5rem + 3.75 * (100vw - 20rem) / 27.99875);
    }
}

@supports (height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::before {
      height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem );
    }
}

@supports not (height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::before {
      height: calc(2.5rem + 3.75 * (100vw - 20rem) / 27.99875);
    }
}

@supports (width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::after {
      width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem );
    }
}

@supports not (width: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::after {
      width: calc(2.5rem + 3.75 * (100vw - 20rem) / 27.99875);
    }
}

@supports (height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::after {
      height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem );
    }
}

@supports not (height: clamp( 2.5rem , -0.178691013rem  +  13.393455065vw , 6.25rem )) {
    ._watcher-view .evo-black__image::after {
      height: calc(2.5rem + 3.75 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 57.5em) {
@supports (right: clamp( 0.0000000625rem , -18.407487029rem  +  61.360847007vw , 16.875rem )) {
    .evo-white__inner::before {
      right: clamp( 0.0000000625rem , -18.407487029rem  +  61.360847007vw , 16.875rem );
    }
}

@supports not (right: clamp( 0.0000000625rem , -18.407487029rem  +  61.360847007vw , 16.875rem )) {
    .evo-white__inner::before {
      right: calc(0.0000000625rem + 16.8749999375 * (100vw - 29.99875rem) / 27.50125);
    }
}

@supports (top: clamp( 8.125rem , 19.8858290532rem  +  -20.4536157447vw , 13.75rem )) {
    .evo-white__inner::after {
      top: clamp( 8.125rem , 19.8858290532rem  +  -20.4536157447vw , 13.75rem );
    }
}

@supports not (top: clamp( 8.125rem , 19.8858290532rem  +  -20.4536157447vw , 13.75rem )) {
    .evo-white__inner::after {
      top: calc(13.75rem + -5.625 * (100vw - 29.99875rem) / 27.50125);
    }
}
}

@media (any-hover: hover) {
  .menu__logo img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu__link:hover {
    color: #9f6b08;
  }

  .menu__link:hover::after {
    width: 100%;
    opacity: 1;
  }

  .promo__arrow:hover {
    -webkit-transform: scale(1.5) rotate(360deg);
        -ms-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
  }

  .evo-white__video-link:hover {
    text-shadow: 2px 2px 10px red;
    font-size: 1.125rem;
  }

  .evo-white__video-link:hover img {
    -webkit-transform: scale(1.5) rotate(360deg);
        -ms-transform: scale(1.5) rotate(360deg);
            transform: scale(1.5) rotate(360deg);
  }
}

.webp .promo{ background: url(../img/promo.webp) left/cover no-repeat; }

.webp .track{ background: url(../img/track-bg.webp) center/cover no-repeat; }

.webp .evo-black__inner::before{ background: url(../img/dec01.webp) center/cover no-repeat; }

.webp .evo-black__inner::after{ background: url(../img/dec02.webp) center/cover no-repeat; }

.webp ._watcher-view .evo-black__image::before{ background: url(../img/wheel.webp) center/cover no-repeat; }

.webp ._watcher-view .evo-black__image::after{ background: url(../img/wheel.webp) center/cover no-repeat; }

.webp .evo-white__inner::before{ background: url(../img/dec03.webp) center/cover no-repeat; }

.webp .evo-white__inner::after{ background: url(../img/dec04.webp) center/cover no-repeat; }

.webp .evo-white__video{ background: url(../img/evo-video.webp) center/cover no-repeat; }

@media (max-width: 47.99875em){

  .webp .menu__body{ background: url(../img/info-1.webp) center/cover no-repeat; }
}